@using MbmStore.Models
@model MbmStore.ViewModels.ProductsListViewModel
@{
    ViewBag.Title = "Index";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <!--BASKET LINK-->
    @using (Html.BeginForm("Index", "Cart"))
    {
        @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
        <input type="submit" class="btn btn-success" value="View Cart" />
    }
    <!--BASKET LINK END-->

    <!--BOOK BEGIN-->
    <div class="row">
        @if (Model.Products.OfType<Book>().Count() > 0)
        {
        <div class="page-header">
            <h1>Books</h1>
        </div>
        foreach (Book book in Model.Products.OfType<Book>().ToList())
        {
            @Html.Partial("ProductSummaryBook", book);
        }
        }
    </div>
    <!--BOOK END-->

    <!--Music CD BEGIN-->
    <div class="row">
        @if (Model.Products.OfType<MusicCD>().Count() > 0)
        {
            <div class="page-header">
                <h1>Music CD's</h1>
            </div>
            foreach (MusicCD musiccd in Model.Products.OfType<MusicCD>().ToList())
            {
                @Html.Partial("ProductSummaryMusicCD", musiccd);
            }
        }
    </div>
    <!--MUSIC CD END-->

    <!--MOVIE BEGIN-->
    <div class="row">
        @if (Model.Products.OfType<Movie>().Count() > 0)
        {
            <div class="page-header">
                <h1>Movies</h1>
            </div>
            foreach (Movie movie in Model.Products.OfType<Movie>().ToList())
            {
                @Html.Partial("ProductSummaryMovie", movie);
            }
        }
    </div>
    <!--MOVIE END-->
    <div>
        @Html.PageLinks(Model.PagingInfo, x => Url.Action("Index", new {
            page = x,
            category = Model.CurrentCategory
        }))
    </div>
